<!-- career Section -->
    <section id="career">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">career</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/career/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2015 - Present</h4>
                                    <h4 class="subheading">Applications Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Develop and support background API's responsible to support Sprint's business logic. Such API's are the main piece of the client's software architecture and are designed to handle hundreds of thousands of transactions per day. They are written in the Java programming language and use a variety of technologies to retrieve data and communicate with other applications such as MQ (Message Queueing with WebsphereMQ), SOAP and REST web services consumption and direct database access with native JDBC queries.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/career/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2015</h4>
                                    <h4 class="subheading">Graduated in Information Systems</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Graduated in Information Systems at University of São Paulo (USP).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/career/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014 - june 2015</h4>
                                    <h4 class="subheading">Jr. Systems Analyst</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In this company, I was responsible for the web development segment of their products. I worked as a full stack web developer focused on developing dashboard like applications for data visualization integrating it with existing VOIP systems (Asterisk) for call management and reporting.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/career/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2013 - May 2014</h4>
                                    <h4 class="subheading">Academical Exchange Program in Ireland, Waterfor Institute of Technology (WIT)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Studied a non-degree year abroad in Waterford Institute of Technology, over Science Without Borders program, sponsored by the Brazilian government. Classes related to software development, mobile development, business intelligence and software frameworks.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/career/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2012 - May 2013</h4>
                                    <h4 class="subheading">Intern at São Carlos Institute of Physics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Responsible for the development of new features on existing web applications using primarily PHP and MySQL, also responsible for the general IT infrastructure support (Windows support, network support and management) and end user assistance.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/career/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2009</h4>
                                    <h4 class="subheading">Entered University of São Paulo (USP-ICMC)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Started studing Computer Science / Information Systems at Institute of Mathematics and Computer Science (ICMC) at University of São Paulo (USP)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>START</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
